**/.terraform/
**/.terraform/*
*.tfvars
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
*.terraform.lock.hcl
